<%# %>
<section class="wrap">
    <div>
         <h3 class="f2 fw4 tc">
            Advantages of being a <span class="red">sugar baby</span>
        </h3>
    </div>
    <%#  %>
    <div class="flex justify-center mb4">
        <div class="w-100 w-90-m w-70-ns flex flex-wrap justify-center">
            <div class="w-100 w-33-m w-33-ns order-0 order-0-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="/images/svg/sugar-baby-table.svg" alt="sugar baby table" title="sugar baby table">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-3 order-1-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="/images/svg/sugar-baby-standing.svg" alt="sugar baby standing" title="sugar baby standing">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-6 order-2-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="/images/svg/sugar-baby-beach.svg" alt="sugar baby beach" title="sugar baby beach">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 order-5"></div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-1 order-6-ns box-shadow-grid-first">
                <div class="tc ph4 pv4 fw4 f5">
                    Classy dates, pampering and gifts
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-4 order-7-ns box-shadow-grid-center">
                <div class="tc ph4 pv4 fw4 f5">
                    Mentorship to help network and grow
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-7 order-8-ns box-shadow-grid-last">
                <div class="tc ph4 pv4 fw4 f5">
                    Mature Relationships, no games
                </div>
            </div>
            <%#  %>
            <div class="w-100 order-last mv4 tc">
            <%= current_link_to "Become a Sugar Baby", data.links.page_join+"?joinas=SB", class: "btn btn-d pv3 ph4", title: "Become a Sugar Baby" %>
            </div>
        </div>
    </div>    
</section>