<section class="wrap">
    <div>
         <h3 class="f2 fw4 tc">
            Advantages of being a <span class="blue">sugar daddy</span>
        </h3>
    </div>
    <%#  %>
    <div class="flex justify-center mb4">
        <div class="w-100 w-90-m w-70-ns flex flex-wrap justify-center">
            <div class="w-100 w-33-m w-33-ns order-0 order-0-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="images/svg/sugar-daddy-dance.svg" alt="sugar daddy dance" title="sugar daddy dance">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-3 order-1-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="images/svg/sugar-daddy-gift.svg" alt="sugar daddy gift" title="sugar daddy gift">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-6 order-2-ns">
                <div class="ph2 image-wrap icon-100-auto flex h-100">
                    <div class="bg-washed-blue br4">
                        <img class="lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="images/svg/sugar-daddy-standing.svg" alt="sugar daddy standing" title="sugar daddy standing">
                    </div>
                </div>
            </div>
            <%#  %>
            <div class="w-100 order-5"></div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-1 order-6-ns box-shadow-grid-first">
                <div class="tc ph4 pv4 fw4 f5">
                    Meet young, beautiful, confident women
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-4 order-7-ns box-shadow-grid-center">
                <div class="tc ph4 pv4 fw4 f5">
                    Honest Open Relationships with No Strings Attached
                </div>
            </div>
            <%#  %>
            <div class="w-100 w-33-m w-33-ns order-7 order-8-ns box-shadow-grid-last">
                <div class="tc ph4 pv4 fw4 f5">
                    Live the life you've dreamed!
                </div>
            </div>
            <%#  %>
            <div class="w-100 order-last mv4 tc">
            <%= current_link_to "Become a Sugar Daddy", data.links.page_join+"?joinas=SD", class: "btn btn-s pv3 ph4", title: "Become a Sugar Daddy" %>
            </div>
        </div>
    </div>    
</section>