<section class="wrap" id="how-it-works">
    <div class="flex items-center justify-center pt4">
        <h2 class="f2 fw4">
            How it works
        </h2>
    </div>
</section>
<%#  %>
<section class="wrap mb5">
    <div class="flex justify-center flex-wrap items-center pv4">
        <%#  %>
        <div class="w-100 w-50-ns pr4-ns tc icon-100-auto bg-fullrounf-img">
            <img class="lozad" data-src="/images/svg/sugar-relatioships-work.svg" alt="sugar relatioships work" title="sugar relatioships work" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2">
            <h3 class="f4">
                How <span class="">Sugar</span> <span class="">Relationships</span> Really Work
            </h3>
            <p class="lh-copy fw4 f4">
                At its core, <span class=" ">Sugar</span> <span class=" ">Dating</span> is about spoiling your partner. Finding someone that makes you smile, and doing everything you can to make them smile back. With sugar dating, both parties agree to support each-other financially and emotionally.
            </p>
            <div class="tl">
                <%= current_link_to "Join the sugar life today", data.links.page_join, class: "underline", title: "Join the sugar life today" %>
            </div>
        </div>
    </div>
</section>
<%#  %>
<section class="wrap mt5">
    <div class="flex justify-center flex-wrap items-center flex-row-reverse-ns pb4">
        <%#  %>
        <div class="w-100 w-50-ns pl4-ns tc icon-100-auto bg-fullrounf-img">
            <img class="lozad" data-src="/images/svg/spark-of-sugar.svg" alt="spark of sugar" title="spark of sugar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>   
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2">
            <h3 class="f4">
                The spark of sugar: The Sugar Meet+Greet.
            </h3>
            <p class="lh-copy fw4 f4">
                Both the Potential Daddy (Pot) and Baby will agree on a time, location and upfront price to go on their first Sugar Meet+Greet. The upfront price covers the cost of the sugar baby to pamper themselves and to arrive wherever is most convenient for the daddy. <span class=" ">Paper</span><span class=" ">Date</span> makes setting up this initial meet and greet simple with our patent pending <span class=" ">Sugar</span> <span class=" ">Meet+Greet</span> system, you can propose the details of your meet and greet without wasting a dime.
            </p>
            <div class="tl">
                <%= current_link_to "Plan your first Meet and Greet", data.links.page_join, class: "underline", title: "Plan your first Meet and Greet" %>
            </div>
        </div>    
    </div>
</section>