<section class="wrap">
    <div class="flex flex-wrap justify-center">
        <div class="w-50 w-33-m w-25-ns tc ph3">
            <div class="ph4 border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto bg-halfrounf-img">
                    <div class="ph4-ns pt4-ns">
                        <img class="lozad lozad-grow" data-src="/images/svg/search.svg" alt="Thousands of Verified Members" title="Thousands of Verified Members" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    Browse Thousands of Verified Members
                </div>
            </div>
        </div>
        <div class="w-50 w-33-m w-25-ns tc ph3">
            <div class="ph4 border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto bg-halfrounf-img">
                    <div class="ph4-ns pt4-ns">
                        <img class="lozad lozad-grow" data-src="/images/svg/meeting.svg" alt="Instantly Propose" title="Instantly Propose" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    <div>
                        Instantly Propose <br />
                        <span class=" ">Sugar</span> <span class=" ">Meet+Greets</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-75 w-33-m w-25-ns tc ph3">
            <div class="ph4 border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto bg-halfrounf-img">
                    <div class="ph4 pt4">
                        <img class="lozad lozad-grow" data-src="/images/svg/date.svg" alt="Meet in Person" title="Meet in Person" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    Meet in Person to discuss allowance and benefits
                </div>
            </div>
        </div>
    </div>
</section>