<%# I think this is not being used? %>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= partial "partials/site/meta" %>
    <title><%= current_page.data.title || "PaperDate" %>  <% if paginate && prev_page && num_pages > 1 %>-  Page <%= page_number %><% end %></title>
    <%= stylesheet_link_tag "style.css?v=" + data.site.version_number  %>
    <%# = javascript_include_tag "script" %>
     <%= partial "partials/site/scripts" %>
  </head>
  <body class="body">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPHB3N6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <%= partial "partials/nav" %>
        <%= yield %>
    <%= partial "partials/footer" %>
    <%= partial "partials/after-footer" %>
  </body>
</html>
