<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= partial "partials/site/meta" %>
    <title><%= current_page.data.title || "PaperDate" %><%# If blog and past page 1 %><% if paginate && prev_page && num_pages > 1 %> -  Page <%= page_number %><% end %></title>
    <%= stylesheet_link_tag "style.css?v=" + data.site.version_number  %>
    <%= partial "partials/site/scripts" %>
  </head>
  <body class="body">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPHB3N6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <%= partial "partials/nav" %>
    <main class="main">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= partial "partials/after-footer" %>
       <script type="application/ld+json">
    { 
        "@context": "https://schema.org", 
        "@type": "<%= current_page.data.type || "WebPage" %>",
        "publisher": {
          "@type": "Organization",
          "name": "PaperDate",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= data.site.site_url  %>/images/logo.png"
          }
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= data.site.site_url  %>"
      },
        "headline": "<%= current_page.data.title || "PaperDate" %>",
        "image": "<%= data.site.site_url  %><%= current_page.data.img || "/images/logo.png" %>",
        "editor": "<%= current_page.data.author || 'PaperDate' %>", 
        "genre": "Sugar Dating", 
        "keywords": "Meet & Greet, Sugar Dating, Dating Made Easy", 
        "url": "<%= data.site.site_url  %><%= current_page.url %>",
        "datePublished": "<%= current_page.data.lastmod || "" %>",
        "dateModified": "<%= current_page.data.lastmod || "" %>",
        "description": " <%= current_page.data.site_description || data.site.site_description  %>",
        "author": {
            "@type": "Person",
            "name": "<%= current_page.data.author || 'PaperDate' %>"
        }
    }
    </script>
  </body>
</html>
