<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,60,70,800,900" rel="stylesheet">
<%= javascript_include_tag "jquery-3.4.1.min" %>
<%= yield_content :js_file %>
<script><%= partial "javascripts/script.js" %></script>
<%= javascript_include_tag "modernizr.js" %>
<%# start lazy load %>
<%= javascript_include_tag "lozad.min.js" %>
<script type="text/javascript">
    <%= partial "javascripts/lazy-load-settings.js" %>
</script>
<%# end lazy load %>
<%= yield_content :js %>