<footer class="pv4 bg-white footer">
  <div class="wrap">
    <div class="flex flex-wrap justify-between">
      <%#  %>
      <div class="w-100 w-100-m w-50-ns flex flex-column items-center items-center-m items-start-ns">
        <div class="tc tc-m tl-ns">
          <a href="/">
            <%=  image_tag data.site.site_logo, :class => 'w5', :title => data.site.site_title, :alt =>  data.site.site_title%>
          </a>
        </div>
        <div class="tc tc-m tl-ns">
          <p class="w5 lh-copy fw5">
          <span class=" ">Sugar</span> <span class=" ">Relationships</span> Made Simple wtih <span class="blue">Paper</span><span class="red">Date</span>
          </p>
        </div>
      </div>
      <%#  %>
      <div class="w-100 w-50-m w-25-ns flex flex-column items-center items-center-m  items-start-ns">
        <h3>Information</h3>
        <nav class="tc tc-m tl-ns">
          <%= current_link_to "Support", data.links.page_support, :class => 'db mid-gray mb1 pv1', title: "support", aria_current: "current" %>
          <%= current_link_to "How it works", data.links.page_how_it_works, :class => 'db mid-gray mb1 pv1', title: "How it works", aria_current: "current" %>
          <%= current_link_to "About", data.links.page_about, :class => 'db mid-gray mb1 pv1', title: "About", aria_current: "current" %>
          <%= current_link_to "Community", data.links.page_community, :class => 'db mid-gray mb1 pv1', title: "Community", aria_current: "current" %>
        </nav>
      </div>
      <%#  %>
      <div class="w-100 w-50-m w-25-ns flex flex-column items-center items-center-m  items-start-ns">
        <h3>Learn</h3>
        <nav class="tc tc-m tl-ns">
          <%= current_link_to "What is a sugar baby", data.links.page_sugar_baby, :class => 'db mid-gray mb1 pv1', title: "What is a sugar baby", aria_current: "current" %>
          <%= current_link_to "What is a sugar daddy", data.links.page_sugar_daddy, :class => 'db mid-gray mb1 pv1', title: "What is a sugar daddy", aria_current: "current" %>
          <%= current_link_to "Sugar Meet and Greet", data.links.sugar_meet_and_greet, :class => 'db mid-gray mb1 pv1', title: "Sugar Meet and Greet", aria_current: "current" %>
        </nav>
      </div>
      <%#  %>
    </div>
  </div>
  <%#  %>
  <div style="border-top: 1px solid #ccc;" class="mt4">
    <div class="wrap w-100">
      <div class="flex flex-wrap justify-between pt4">
        <%#  %>
        <div class="w-100 w-33-m w-33-ns tc tl-ns mb3 mb0-ns">
          © <%= Date.today.year %> <span class="">Paper</span><span class="">Date</span> All Rights Reserver
        </div>
        <%#  %>
        <div class="w-100 w-33-m w-33-ns tc mb3 mb0-ns">
          <a href="<%= data.links.site_facebook %>" title="PaperDate - Facebook" target="_blank" rel="noopener" class="link dim gray dib h2 w2 br-100 pa2 bg-white ba b--black-10" aria-label="PaperDate Facebook Page">
            <%= partial "images/logos/facebook-app-symbol.svg" %>
          </a>
        </div>
        <%#  %>
        <div class="w-100 w-33-m w-33-ns tc tr-ns">
          <%= current_link_to "Privacy Policy", data.links.page_privacy, title: "Privacy Policy" , class: "mid-gray fw3" %>
          <span> | </span>
          <%= current_link_to "Terms of Service", data.links.page_terms, title: "Terms of Service" , class: "mid-gray fw3" %>
        </div>
        <%#  %>
      </div>
    </div>
  </div>
</footer>