<header class="bg-white sticky top-0 pv2 z-3 shadow-1 header">
  <div class="wrap flex items-center justify-between main-nav-wrap">
    <%#  %>
    <div class="dn main-nav-hamburger" data-nav="hamburger">
      <%= partial "partials/assets/hamburger" %>
    </div>
    <%#  %>
    <div class="icon icon-h40 main-nav-logo">
      <a href="/">
        <%=  image_tag data.site.site_logo, :class => 'object-contain', :title => data.site.site_title, :alt =>  data.site.site_title %>
      </a>
    </div>
    <%#  %>
    <nav class="flex items-center justify-end w-100 pl4 main-nav" data-nav="nav">
      <div class="flex items-center main-nav-items mr3">
        <%= current_link_to "How it works", "/#how-it-works", class: "mh2 mid-gray fw3 nav-link", title: "How it works" %>
        <%= current_link_to "About Us", data.links.page_about, class: "mh2 mid-gray fw3 nav-link", title: "About Us", aria_current: "current" %>
        <%= current_link_to "Community", data.links.page_community, :class => 'mh2 mid-gray fw3 nav-link', title: "Community", aria_current: "current" %>
        <div class="mobile-nav-show-content dn">
          <%= current_link_to "Sugar Meet and Greet", data.links.sugar_meet_and_greet, :class => 'db mid-gray mb1 pv1 nav-link', title: "Sugar Meet and Greet", aria_current: "current" %>
          <%= current_link_to "Community", data.links.page_community, :class => 'db mid-gray mb1 pv1 nav-link', title: "Community", aria_current: "current" %>
          <%= current_link_to "Support", data.links.page_support, :class => 'db mid-gray mb1 pv1 nav-link', title: "support", aria_current: "current" %>
          <h3>Our Profiles</h3>
          <a href="<%= data.links.site_facebook %>" title="PaperDate - Facebook" target="_blank" rel="noopener" class="link dim gray dib h2 w2 br-100 pa2 bg-white ba b--black-10" aria-label="PaperDate Facebook Page">
            <%= partial "images/logos/facebook-app-symbol.svg" %>
          </a>
        </div>
      </div>
      <div class="flex items-center main-nav-actions">
        <%# <%= current_link_to "Login", data.links.page_login, class: "btn btn-od pv2 ph4 mr2 nav-link", title: "Login" %>
        <%= current_link_to "Start Dating", data.links.page_join, class: "btn btn-d pv2 ph4 nav-link", title: "Start Dating" %>
        <div class="mobile-nav-show-content dn">
          <div class="tc pb3">
            © <%= Date.today.year %> <span class="">Paper</span><span class="">Date</span> All Rights Reserver
          </div>
        </div>
      </div>
    </nav>
    <%#  %>
    <div class="dn main-nav-action">
        <%= current_link_to "Login", data.links.page_login, class: "btn btn-d pv2 ph4 nowrap", title: "Login" %>
    </div>
    <%#  %>
  </div>
</header>