.hero01 {
  position: relative;
  background-image: url(../images/site/sugar-meet-and-greet-holding-hands-large.png);
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-position-x: calc(50% + 35vw);
  background-size: 700px;
  min-height: 480px;
  .no-webp & {
    background-image: url(../images/site/sugar-meet-and-greet-holding-hands-large.png);
  }
  @include break(large) {
    background-position-x: calc(50% + 370px);
  }

  //
  @include break(small) {
    background-image: url(../images/site/sugar-meet-and-greet-holding-hands-mobile.webp);
    background-position-x: center;
    background-size: cover;
    align-items: flex-end;
    .no-webp & {
      background-image: url(../images/site/sugar-meet-and-greet-holding-hands-mobile.jpg);
    }
    &:after {
      content: " ";
      background: rgba(255, 255, 255, 0.25);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 30vw,
        rgba(255, 255, 255, 0) 90%
      );

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
    & > * {
      position: relative;
      z-index: 2;
    }
    .w-100 {
      width: 100%;
    }
    h1 {
      font-size: 9vw;
      margin-bottom: 0.5em;
    }
    h2 {
      order: 10;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
//

.bg-halfrounf-img {
  background-image: url(/images/site/half-round-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .no-webp & {
    background-image: url(/images/site/half-round-background.png);
  }
}

.bg-fullrounf-img {
  background-image: url(/images/site/full-round-background.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  .no-webp & {
    background-image: url(/images/site/full-round-background.png);
  }
}

.bg-flyingmoney-img {
  background-image: url(/images/site/flying-money.webp);
  background-repeat: no-repeat;
  background-position: bottom right;
  .no-webp & {
    background-image: url(/images/site/flying-money.png);
  }
}
