<link rel="shortcut icon" href="<%= data.site.site_url  %>/favicon.ico" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="<%= data.site.site_url  %><%= current_page.url %>" />

<%#  %>
<meta name="description" content="<%= current_page.data.site_description || data.site.site_description  %> ">
<meta name="author" content="<%= current_page.data.author || data.site.site_author  %>">
<%#  %>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@<%= data.site.twitter_name %>" />
<meta name="twitter:description" content="<%= current_page.data.site_description || data.site.site_description  %>" />
<meta name="twitter:title" content="<%= current_page.data.title || data.site.site_title  %>" />
<meta name="twitter:site" content="@paperdate" />
<%#  %>
<meta property="og:url" content="<%= data.site.site_url  %><%= current_page.url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= current_page.data.title || data.site.site_title  %>" />
<meta property="og:description" content="<%= current_page.data.site_description || data.site.site_description  %> " />
<meta property="og:image" content="https://www.paperdate.io<%= current_page.data.img || data.site.site_image  %>" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="500" />

<%#  %>
<meta property="fb:app_id" content="<%= data.site.facebook_app_ID  %>" />
