@mixin mobileMenu {
  .main-nav-hamburger {
    width: 30px;
    svg {
      width: 40px;
      height: 30px;
      margin-left: -1em;
      margin-top: -1em;
      margin-bottom: -0.5em;
      transform: scale(1.5);
    }
    &:after {
      transition: all 0.6s ease-in-out;
    }
  }
  .main-nav-hamburger,
  .main-nav-action {
    display: block;
    cursor: pointer;
  }

  .main-nav {
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 75vw;
    height: calc(100vh - 100%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    justify-content: end;
    transition: all 0.6s ease-in-out;
    transform: translateX(-110%);
    border-top: 1px solid #e6e5e5;

    &.show-mobile-main-nav {
      transform: translateX(0%);
      overflow-x: auto;
    }
    // z-index: -5;
    .main-nav-items,
    .main-nav-actions {
      flex-direction: column;
      width: 100%;

      .nav-link {
        margin: 1em 0 !important;
        padding: 0.5em 0 !important;
        display: block;
        width: 100%;
        text-align: left;
        &.btn {
          text-align: center;
          padding-left: 1em !important;
          padding-right: 1em !important;
        }
      }
    }
    //
    .main-nav-actions {
      // flex-direction: row;
      flex: 1;
      justify-content: flex-end;
      width: 100%;
      padding-right: 2rem;
    }

    // .main-nav-actions a {
    //   &:first-of-type {
    //     margin-right: 0.5em !important;
    //   }
    //   &:last-of-type {
    //     margin-left: 0.5em !important;
    //   }
    // }

    .main-nav-items {
      .nav-link {
        margin-bottom: 0px !important;
        font-weight: 500;
      }
    }
    //
  }
  .show-mobile-hamburger:after {
    content: " ";
    position: fixed;
    top: 59px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000066;
    transition: all 0.6s ease-in-out;
  }

  .main-nav-logo {
    width: 100%;
    img {
      max-width: 145px;
      margin-left: 1em;
      max-width: 130px;
      margin-left: 0.5em;
    }
  }

  .mobile-nav-show-content {
    display: block;
    width: 100%;
    h3 {
      font-weight: 400;
      border-bottom: 1px solid $blue;
      width: calc(100% - 2em);
      color: $blue;
      margin-bottom: 0.5em;
    }
  }
}

// Set up mobile view - Use the mixin above --
// There has to be a better way to do this
@include mobilebreak(is-mobile) {
  @include mobileMenu;
}
@include break(small) {
  @include mobileMenu;
}
//

.hamburger-bars {
  width: 80px;
  cursor: pointer;
  .hamburger-line {
    fill: none;
    stroke: $blue;
    stroke-width: 8px;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    &.hamburger-top {
      stroke-dasharray: 40 172;
    }
    &.hamburger-middle {
      stroke-dasharray: 40 111;
    }
    &.hamburger-bottom {
      stroke-dasharray: 40 172;
    }
  }
  //   active
  &.hamburger-active {
    .hamburger-line {
      stroke: $red;
    }

    .hamburger-top {
      stroke-dashoffset: -132px;
    }
    .hamburger-middle {
      stroke-dashoffset: -71px;
    }
    .hamburger-bottom {
      stroke-dashoffset: -132px;
    }
  }
}
