.btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  outline: 0px solid transparent;
  border: 1px solid transparent;
  border-radius: 3em;
  appearance: none;
  cursor: pointer;
  align-self: center;
  line-height: 1;
  font-weight: 500;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0px 1px 2px 0px $near-black;
  }
  &:focus {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px transparent;
  }
}

.btn-d {
  background: linear-gradient(0deg, $light-red 0%, $dark-red 100%);
  color: $white;
  &:hover {
    color: $white;
    background: linear-gradient(
      0deg,
      darken($light-red, 10%) 0%,
      darken($dark-red, 5%) 100%
    );
  }
}
//

.btn-od {
  background: $white;
  border-color: $dark-red;
  color: $dark-red;
  &:hover {
    color: $white;
    background: $dark-red;
  }
}

//
//
//
//

.btn-s {
  background: linear-gradient(0deg, $light-blue 0%, $dark-blue 100%);
  color: $white;
  &:hover {
    color: $white;
    background: linear-gradient(
      0deg,
      darken($light-blue, 10%) 0%,
      darken($dark-blue, 10%) 100%
    );
  }
}
.btn-os {
  background: $white;
  border-color: $dark-blue;
  color: $dark-blue;
  &:hover {
    color: $white;
    background: $dark-blue;
  }
}
