<section>
  <div class="cover bg-center lozad" data-background-image="/images/banner/PaperDate-sugar-dating.jpg">
    <div class="bg-black-40 pv5">
      <div class="wrap tc">
        <h2 class="f1 fw4 white mb0 lh-title ph4">
          Propose Your Next Sugar Meet and Greet in Seconds
        </h2>
        <div class="mv4">
          <%= current_link_to "Create Your Free Account", data.links.page_join, class: "btn btn-d pv3 ph4 f3", title: "Create Your Free Account" %>
        </div>
      </div>
    </div>
  </div> 
</section>