<section class="cover bg-center bg-center-l vh-75" style="background-image: url(/images/site/map.jpg)">
    <div class="bg-black-50 pt6 pb6 vh-75 flex justify-center items-center">
      <div class="tc-l ph3">
        <h3 class="f1 fw5 white mb1 mt0 ">
          Join The PaperDate Community<br>
          <strong>PaperDate is the newest and fastest way to find a Sugar Daddy.</strong>
        </h3>
        <h2 class="fw3 f4 white mt3 mb4">Cut the nonsense and setup your first meet and greet. Join today and find your Sugar Baby.</h2>
        <div>
          <%= current_link_to "CREATE YOUR FREE ACCOUNT", data.links.page_join, class: "btn btn-d pv3 ph4", title: "CREATE YOUR FREE ACCOUNT" %>
        </div>        
      </div>
    </div>
</section>