<section>
  <div class="cover bg-left bg-center-l attachment-fixed" style="background-image: url(/images/banner/enjoy-life-join-PaperDate.jpg)">
    <div class="bg-black-40 pv5">
      <div class="wrap tc">
        <h2 class="f1 fw5 white mb0 lh-title ph3">
          Propose Your Next <span class="red">Sugar</span> <span class="blue">Meet+Greet</span> in Seconds
        </h2>
        <div class="mv4">
          <%= current_link_to "Create Your Free Account", data.links.page_join, class: "btn btn-d pv3 ph4 f3", title: "Create Your Free Account" %>
        </div>
      </div>
    </div>
  </div> 
</section>