<section class="bg-flyingmoney-img">
    <div class="pt3 pb3 flex justify-center items-center hero01">
      <div class="ph3 flex flex-wrap flex-row w-100 wrap">
        <div class="w-100 w-50-ns pt4 pb0 pb4-ns flex flex-column">
            <h1 class="f1 fw5 black mb1 mt0">
                Sugar Relationships <br> 
                Made Simple with <br>
                <span class="blue">Paper</span><span class="red">Date</span>
            </h1>
            <h2 class="fw4 f3 black mt3 mb0 mb4-ns lh-copy">Instantly propose Sugar Meet+Greets with thousands of Verified members</h2>
            <div>
                <%= current_link_to "CREATE YOUR FREE ACCOUNT", data.links.page_join, class: "btn btn-d pv3 ph4", title: "CREATE YOUR FREE ACCOUNT" %>
            </div>         
        </div>
        <div class="w-100 w-50-ns"></div>
      </div>
    </div>
</section>