<section class="cover bg-center bg-center-l vh-75" style="background-image: url(images/banner/home-page-hero.jpg)">
    <div class="bg-black-50 pt6 pb6 vh-75 flex justify-center items-center">
      <div class="tc-l ph3">
        <h1 class="f1 fw5 white mb1 mt0 ">
          Sugar Relationships Made<br>
          Simple with <span class="blue">Paper</span><span class="red">Date</span>
        </h1>
        <h2 class="fw3 f4 white mt3 mb4">Instantly propose <span class="red f3 fw4">Sugar</span> <span class="blue f3 fw4">Meet+Greets</span> with thousands of Verified members</h2>
        <div>
          <%= current_link_to "CREATE YOUR FREE ACCOUNT", data.links.page_join, class: "btn btn-d pv3 ph4", title: "CREATE YOUR FREE ACCOUNT" %>
        </div>        
      </div>
    </div>
</section>