
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10 hover-dark-gray" itemscope itemtype="https://schema.org/Review">
    <span itemprop="itemReviewed" itemscope itemtype="https://schema.org/Thing" class="dn">
        <span itemprop="name">PaperDate</span>
    </span>

      <img class="w2 h2 w3-ns h3-ns br-100" src="<%= "#{img}" %>" title="<%= "#{name}" %> review" alt="<%= "#{name}" %> review"/>
      <div class="pl3 flex-auto" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span class="f6 db black-70 mb1 fw5"><%= "#{name}" %></span>
        <span class="f6 db black-70"> <%= "#{review}" %></span>
      </div>
      <div style="transform: scale(.8);">
        <span class="f6 link">
            <small itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                <div class="ml2  ">
                    <div class="tc fw4 relative z-5 white" itemprop="ratingValue" style="margin-bottom: -2.6em;">
                        <%= "#{rating}" %>
                    </div> 
                    <span class="dn" itemprop="bestRating">5</span> 
                    <div class="srat-rating rate-<%= "#{"((#{rating}))".tr('(.)', '')}" %> ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                            <path fill="#e63439" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                        </svg>                     
                    </div>
                </div>
            </small>        
        </span>
      </div>
  </li>

 