---
title: 	About PaperDate.io - The first sugar site focussed on Meet and Greets
lastmod: 2019-07-14
priority: 0.8
type: AboutPage
site_description: "PaperDate is a sugar community built for women to find successful men, willing to offer a higher standard of life - the best clothes, technology and property."
---
<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/banner/legs-city.jpg", 
    :header => "Our Mission", 
    :subHeader => "At PaperDate we want to provide you with a way for relationships to develop and mature. Our members want to cut out the headache or dating and get right to the Sugar Meet and Greet. " 
}) %>
<%#  %>
<%= partial "partials/parts/as-seen-on" %>
<%#  %>
<section class="wrap">
    <div class="flex justify-center flex-wrap items-center pv4">
        <%#  %>
        <div class="w-100 w-50-ns pr4">
            <img class="" src="/images/site/about-PaperDate.jpg" alt="PaperDate" title="About PaperDate"/>
        </div>
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2">
            <h3 class="f2 mb0">
                What is a Meet and Greet?
            </h3>
            <p class="lh-copy">
                PaperDate is a modern solution for sugar dating online. We created PaperDate so that sugar daddies and sugar babies can stop wasting time sending endless messages, and instead go out on their first date. Paperdate was built for women to find successful men who are willing to offer a higher standard of life - the best clothes, technology and property.
                <br>
                <br>
                Thanks to our Sugar Meet&Greet method of communication, our service allows you to find the best partner in the most convenient way.
            </p>
            <div class="">
                <%= current_link_to "Join the sugar life today", data.links.page_join, class: "underline", title: "Join the sugar life today" %>
            </div>
        </div>
    </div>
</section>
<%#  %>
<%#  %>
<%#  %>

<section class="wrap">
    <div class="flex flex-wrap justify-center pb4">
        <div class="w-100">
            <h3 class="f1 tc mv3">
                How a Meet and Greet Works
            </h3>
        </div>
    </div>
</section>

<div class="mb4">
    <%= partial "partials/home/steps" %>
</div>
<%#  %>
<%#  %>
<%#  %>
<%= partial "partials/banner/banner01" %>
 
 