---
pageable: true
title: "PaperDate.io | Community and Blog for Sugar Babies and Sugar Daddies"
site_description: "Our blog has guides, tips and materials to help Sugar Babies and Sugar Daddies in looking to experience the best dates, luxuries and trips."
lastmod: 2019-04-22
priority: 0.7
changefreq: weekly
---
<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/banner/enjoy-life-join-PaperDate.jpg", 
    :header => "PaperDate's Sugar Meet+Greet Community", 
    :subHeader => "" 
}) %>
<%#  %>
<div class="wrap pt4 mt-n7 bg-white shadow-1">
  <div class="flex flex-wrap mb4">
    <main class="w-100 w-70-ns pr4-ns">
        <%= partial "partials/blog/basic-small-post" %>
        <% if paginate %>
          <div class="flex">
              <%= partial "partials/blog/blog-paginate" %>
          </div>
        <% end %>         
    </main>
    <aside class="w-100 w-30-ns pa3 mb4 bg-near-white">
      <div class="sticky" style="top:75px;">
        <%= partial "partials/blog/blog-sidebar-1" %>
      </div>
    </aside>        
  </div>
</div>
<%= partial "partials/banner/banner01" %>