---
title: Components
site_description: Components
author: Mike 
sitemap: false
---
<div class="wrap" style="min-height: 75vh;">
    <h1 class="tc bb">
        Components 
    </h1>
    <%#  %>
    <div>
        <h3>
            Buttons 
        </h3>
        <div>
            <div class="mb3 flex justify-between items-center">
                <a class="btn btn-d pv2 ph4" href="#">Sign Up</a> 
                <div class="mh1">-</div> 
                <a class="btn btn-d pv3 ph4" href="#">CREATE YOUR FREE ACCOUNT</a>
            </div>
            <div class="mb3 flex justify-between items-center">
                <a class="btn btn-s pv2 ph4" href="#">Login</a> 
                <div class="mh1">-</div> 
                <a class="btn btn-s pv3 ph4" href="#">CREATE YOUR FREE ACCOUNT</a>
            </div>
            <div class="mb3 flex justify-between items-center">
                <a class="btn btn-od pv2 ph4" href="#">Sign Up</a> 
                <div class="mh1">-</div> 
                <a class="btn btn-od h pv3 ph4" href="#">CREATE YOUR FREE ACCOUNT</a>
            </div>
            <div class="mb3 flex justify-between items-center">
                <a class="btn btn-os pv2 ph4" href="#">Login</a> 
                <div class="mh1">-</div> 
                <a class="btn btn-os h pv3 ph4" href="#">CREATE YOUR FREE ACCOUNT</a>
            </div>
        </div>
    </div>
    <%#  %>

 
    
</div>