---
title: "PaperDate.io | Coupons and Discounts"
site_description: "PaperDate.io offers coupons and discounts for qualifying members. Register now and send a message to our support team to see which coupons are available."
lastmod: 2019-07-24
priority: 0.8
---
<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/banner/legs-city.jpg", 
    :header => "PaperDate Coupons's", 
    :subHeader => "At PaperDate we want to provide you with a way for relationships to develop and mature. Our members want to cut out the headache or dating and get right to the Sugar Meet and Greet. " 
}) %>
<%#  %>
<%= partial "partials/parts/as-seen-on" %>
<%#  %>
<div style="min-height: 40vh" class="flex flex-wrap mb4">
    <div class="" style="border: 4px dashed #eb3d42; width: 100%; text-align: center; align-items: center; display: flex; justify-content: center; font-size: calc(6vw - 2em); margin: 2em; border-radius: 2em; font-weight: 900;">
        Coupons Coming Soon
    </div>
</div>
<%#  %>
<%= partial "partials/banner/banner01" %>
 
 