---
title: Login - PaperDate
site_description: Login to PaperDate
sitemap: false
---
<div class="flex justify-center vh-25">
    <%= current_link_to "Join Today", data.links.page_join, class: "btn btn-od pv2 ph4 mr2", title: "Join Today" %>
</div>
<meta http-equiv="refresh" content="0;url=<%= data.links.page_join %>">

