---
title: Login - PaperDate
site_description: Login to PaperDate
sitemap: false
---
<div class="flex justify-center vh-25">
    <%= current_link_to "Login", data.links.page_login, class: "btn btn-od pv2 ph4 mr2", title: "Login" %>
</div>
<meta http-equiv="refresh" content="0;url=<%= data.links.page_login %>">
