---
title: Privacy Policy
lastmod: 2019-04-22
priority: 0.1
site_description: Privacy Policy
---
<div class="wrap fw5 lh-copy">
    <h1 class="lg-text">
       PaperDate's Privacy Policy
    </h1>
    <p>
        This Privacy Policy describes how PaperDate.io (also referred to herein as "our", "we", or "us"), handles information provided by visitors and users of its site and services (also referred to herein as "you" or "your").
    </p>
    <h4 class="md-text">
        Privacy Policy     
    </h4>
    <p>
        PaperDate.io respects your privacy. All personal information you submitted to PaperDate.io will be kept in the strictest of confidence. 
    </p>
    <p>
        Personal information you provide to us will only be used by PaperDate.io, and will never be sold or given to third parties for any purpose without your consent. We are strongly committed to protecting your privacy online and have taken steps to protect information you share with us. For example, we use SSL encryption to safeguard your credit card data when used in E-commerce transactions. To help us protect your privacy, please maintain secrecy of username and password used in connection with your participation in any PaperDate.io service.
    </p>
    <h4 class="md-text">
        Our Commitment
    </h4>
    <p>
        We are committed to protecting the privacy of our users. We want to provide a safe and secure user experience. We will use our best efforts to ensure that the information submitted to us remain private, and is used only for the purposes set forth herein.
    </p>
    <h4 class="md-text">
        Privacy Scope
    </h4>
    <p>
        This privacy policy covers PaperDate.io's treatment of personally identifiable information that is collected when you are on the PaperDate.io website, and when you use PaperDate.io services. This policy also covers our treatment of any personally identifiable information that our business partners share with us.
    </p>
    <h4 class="md-text">
        Information Collected
    </h4>
    <p>
        When you register as a member of PaperDate.io, you are asked for a number of personal information, including your name, email address, zip code, phone numbers, occupation, hobbies and interests. Our website also automatically receives and records information on our server logs from your browser, including your IP address, browser type and PaperDate.io cookie information. PaperDate.io uses this information to personalize the content you see, to fulfill your service requests, to inform you of updates to our services, and to alert you to products and services we believe may be of interest to you.
    </p>
    <h4 class="md-text">
        Visitor Information
    </h4>
    <p>
        In certain cases, when you signup to use services, respond to an offer, submit your profile, or purchase a product or service, for example, we may collect more specific information about you, such as your name, address, phone number, email, credit card number, etc. During your visit to our website, we may also ask you for other information, such as information on your interests, likes and dislikes regarding the website, etc., in an effort to deliver the best user experience. 
    </p>
    <p>
        Personal information collected are used solely by PaperDate.io and are never sold or given to third parties for any purpose without your explicit consent. 
    </p>
    <p>
        We also provide you with the opportunity to opt-opt out of several types of communications at the time of registration. If you choose to receive these types of communications at the time of registration, but later decide you no longer want to receive them, simply change your preferences on your account setting or communicate your preferences to us via email.
    </p>
    <h4 class="md-text">
        General Disclosure Information      
    </h4>
    <p>
        Except as described in this privacy policy, we do not disclose information about your individual visits to PaperDate.io, or personal information you provide, such as your name, address, email, phone number, credit card number, etc., to any third parties, except when we believe it is required by law or to protect PaperDate.io, our users or others. However, we may record and share aggregate information with our partners. 
    </p>
    <p>
        We employ other companies and individuals to perform functions on our behalf. Examples may include hosting our web servers, analyzing data, providing marketing services, processing credit card payments, and other services. These companies may have access to your personal information as necessary to perform their functions, but they may not share that information with any third party.
    </p>
    <h4 class="md-text">
        Updating Account Information
    </h4>
    <p>
        PaperDate.io allows you to change your personal information at any time. To do so, simply logon to PaperDate.io with your username and password, and you will be able to update the information you have submitted.
    </p>
    <h4 class="md-text">
        Online Transactions
    </h4>
    <p>
        When you place an order online, your personal details and credit card information are encrypted using SSL encryption technology before being sent over the Internet. Although we cannot guarantee encryption or the privacy of your personal details, SSL makes it very difficult for your information to be stolen or intercepted while being transferred.
    </p>
    <h4 class="md-text">
        Cookies      
    </h4>
    <p>
        To enhance your experience at PaperDate.io and to access member services, we use a feature on your Internet browser called a 'cookie'. Cookies are small files that your web browser places on your computer's hard drive. We use cookies for remembering user preferences, user sessions, tracking visits to understand visitor behavior, and planning for increased loads. Because of our use of cookies, we can deliver a faster services and a more personalized website experience. You have the option of setting your browser to reject cookies. However, doing so will hinder your ability to logon or use member services offered on our website. 
    </p> 
    <h4 class="md-text">
        REFUND POLICY
    </h4>

    <p>
        PaperDate maintains a strict No-Refund policy.  All purchases made on the website are final.  If you choose to purchase a package on the website, you agree that absolutely NO Refunds, either full or partial, will be issued for any reason or any unused or remaining subscription or credits.  All sales are FINAL.
    </p>    
    <h4 class="md-text">
        Privacy Policy Changes 
    </h4>
    <p>
        If we decide to change our privacy policy, we will post those changes here so that you will always know what information we gather, how we might use that information, and whether we will disclose it to anyone. If at any time you have questions or concerns about our privacy policy, please feel free to email us at privacy(at)PaperDate.io 
    </p>
    <p>
        PaperDate.io uses reasonable precautions to keep personal information disclosed to us secure. However, we are not responsible for any breach of security. This privacy policy is not intended to, and does not, create any contractual or other legal rights in or on behalf of any party.
    </p>
    <h3 class="lg-text">
        This site is protected by reCAPTCHA and the Google 
</h3>
<p>
    By using our site you also are agreeing to reCAPTCHA Privacy Policy and Terms of Service. 
</p>
 
    <p>
        <a href="https://policies.google.com/privacy" class="c-cerise" target="_blank">Privacy Policy</a> and
        <a href="https://policies.google.com/terms" class="c-cerise" target="_blank">Terms of Service</a>
    </p>
 
</div>