---
title: "PaperDate is it worth joining? Read about our member's experiences."
lastmod: 2019-07-24
priority: 0.8
site_description: "From amazing first dates to marriage, PaperDate has joined the sugar world together in ways that no one could have imagined, read our member's stories."
---
<% content_for :js_file do %>
    <%= javascript_include_tag "parsley.js" %>
<% end %> 
<% content_for :js do %>
<script type="text/javascript">
function submitdata() {
    var name = document.getElementById("name").value;
    var subject = document.getElementById("reason").value;
    var email = document.getElementById("email").value;
    var body = document.getElementById("detailed").value;
    var username = 'accounts@paperdate.io/token';
    var password = 'vam8cFJ6TDhcwzwCQZvuXsdFWQgjSPvYCwdMTGz1';
    var adata = {
        "ticket": {
            "subject": subject + " from " + email,
            "requester": {
                "name": name
            },
            "comment": {
                "body": body
            }
        }
    };

    $.ajax({
        type: 'post',
        url: 'https://paperdate.zendesk.com/api/v2/tickets.json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
        },
        data: JSON.stringify(adata),
        success: function (){
            console.log('Request sent!');
        }
    });
    return false;
}

$(function () {
    // bind parsley to the form
    $("#support-Form").parsley();
    // parsley settings 
    parsleyForm = $('#support-Form').parsley({
        errorClass: 'ba b--light-red',
        successClass: 'ba b--black-60',
        errorsWrapper: '<div class="red"></div>',
        errorTemplate: '<span></span>',
    });  

    // on form submit
    $("#support-Form").on('submit', function(event) {
        // validate form with parsley.
        event.preventDefault();
        $(this).parsley().validate();

        // if this form is valid
        if ($(this).parsley().isValid()) {
            // show alert message
            $('.form-thank-you').css({'height': $('#support-Form').innerHeight()});
            $('.form-thank-you').addClass("absolute top-0 w-100 bg-white-70 flex items-center justify-center fw9 f1");
            $('.form-thank-you span').text( 'Your Review has been sent');
            $('.form-thank-you span').css('transform','scaleY(1)');
            
            submitdata();
        }
    });
});    
</script>
<% end %> 

<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/banner/legs-city.jpg", 
    :header => "PaperDate Review's", 
    :subHeader => "At PaperDate we want to provide you with a way for relationships to develop and mature. Our members want to cut out the headache or dating and get right to the Sugar Meet and Greet. " 
}) %>
<%#  %>
<%= partial "partials/parts/as-seen-on" %>
<%#  %>
<section class="wrap" id="how-it-works"> 
    <div class="flex items-center justify-center pt4"> 
        <h2 class="f2 fw4"> Reviews From User Like You </h2> 
    </div> 
</section> 
<div class="flex flex-wrap wrap mb4 ">
    <div class="w-100 flex">
        <ul class="list pl0 mt0 w-100">
            <% data.reviews.user_reviews.each do |f| %>
                <%= partial("partials/parts/review", :locals => {   
                    :name => f.name, 
                    :img => f.img,  
                    :review => f.review, 
                    :rating => f.rating, 
                }) %>
            <% end %>  
        </ul>
    </div>
</div>

<%#  %>
<section class="wrap" id="how-it-works"> 
    <div class="flex items-center justify-center pt4"> 
        <h2 class="f2 fw4"> Submit Your Review </h2> 
    </div> 
</section> 

<section class="wrap"> 
    <div class="flex justify-center flex-wrap items-center pv4"> 
        <div class="w-100 w-50-ns pr4"> 
            <img class="" src="/images/temp/4.png" alt="PaperDate" title="Submit Your PaperDate Review"> 
        </div> 
        <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2"> 
            <form method="post" enctype="text/plain" id="support-Form" class="relative">
            <%#  %>
                <div class="mb3">
                    <label for="name" class="f4 b db mb1 fw5">
                        Name
                    </label>
                    <input id="name" placeholder="Jane Smith" class="input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus" type="text" aria-describedby="name-desc" data-parsley-errors-container="#form-name" required>
                    <small id="name-desc" class="f6 black-30 mb2 flex justify-between">
                        Please give your full name
                        <div id="form-name" class=""></div>
                    </small>
                </div>
                <%#  %>
                <div class="mb3">
                    <label for="email" class="f4 b db mb1 fw5">
                        Email Address
                    </label>
                    <input id="email" name="email" placeholder="jane-smith@gmail.com" class="input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus" type="email" aria-describedby="email-desc" data-parsley-errors-container="#form-email" required>
                    <small id="email-desc" name="email-desc" class="f6 black-30 mb2 flex justify-between">
                        Verify your account
                        <div id="form-email" class=""></div>
                    </small>
                </div>
                <%#  %>
                <div class="mb3">
                    <label for="reason" class="f4 b db mb1 fw5">
                        How would you rate us?
                    </label>
                    <select id="reason" name="reason" aria-describedby="reason-desc"  data-parsley-errors-container="#form-reason" required class="select-css input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus bg-white">
                            <option selected disabled hidden >Our Rating</option>
                            <option value="I rate you a: 1">I rate you a: 1</option>
                            <option value="I rate you a: 1.5">I rate you a: 1.5</option>
                            <option value="I rate you a: 2">I rate you a: 2</option>
                            <option value="I rate you a: 2.5">I rate you a: 2.5</option>
                            <option value="I rate you a: 3">I rate you a: 3</option>                    
                            <option value="I rate you a: 3.5">I rate you a: 3.5</option>                    
                            <option value="I rate you a: 4">I rate you a: 4</option>                    
                            <option value="I rate you a: 4.5">I rate you a: 4.5</option>                    
                            <option value="I rate you a: 5">I rate you a: 5</option>                    
                    </select>
                    <small id="reason-desc" name="reason-desc" class="f6 black-30 mb2 flex justify-between">
                        From 1 to 5, rate us 
                        <div id="form-reason" class=""></div>
                    </small>
                </div>
                <%#  %>
                <div class="mb3">
                    <label for="detailed" class="f4 b db mb1 fw5">
                        Leave your review.
                    </label>
                    <textarea id="detailed" name="detailed" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2 outline-0 outline-focus" aria-describedby="detailed-desc"  data-parsley-errors-container="#form-detailed" required></textarea>
                    <small id="detailed-desc" class="f6 black-30 mb2 flex justify-between">
                        Be as detailed as possible. 
                        <div id="form-detailed" class=""></div>
                    </small>
                </div>
                <%#  %>
                <%#  %>
                <input id="user_id" placeholder="345355" class="dn" type="text" aria-describedby="name-user_id" data-parsley-errors-container="#form-user_id">
                <%#  %>
                <div class="mb3 tr">
                        <button class="btn btn-s pv2 ph4 nowrap">
                        Submit 
                    </button>
                </div>
                <%#  %>
                <div class="form-thank-you tc">
                    <span style="transition: transform .333s;  transform: scale(0);"></span>
                </div>
            </form> 
        </div> 
    </div> 
</section>

<%#  %>
<%= partial "partials/banner/banner01" %>
 
 