<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<% sitemap.resources.each do |f| %>
<%#  %>
   <% if f.content_type == "text/html; charset=utf-8" %>
   <%#  %>
      <% if defined?f.data.sitemap & f.data.sitemap === "false" %>
      <% else %>
      <%#  %>
      <%#  %>
         <url>
            <loc>https://www.paperdate.io<%= f.url %></loc>
            <lastmod><%= f.data.lastmod || "" %></lastmod>
            <priority><%= f.data.priority || data.site.default_priority  %></priority>
            <changefreq><%= f.data.changefreq || data.site.default_changefreq  %></changefreq>
         </url>
         <% end %>
   <%#  %>
   <% end %>
<%#  %>
<% end %>
      <url>
         <loc>https://app.paperdate.io/login</loc>
         <lastmod>2019-04-22</lastmod>
         <priority>0.9</priority>
         <changefreq>monthly</changefreq>
      </url>
      <url>
         <loc>https://app.paperdate.io/join</loc>
         <lastmod>2019-04-22</lastmod>
         <priority>0.9</priority>
         <changefreq>monthly</changefreq>
      </url>
</urlset>
 