---
title: "PaperDate.io | Support - Create a Ticket"
site_description: "Want to talk to a specialist at PaperDate? Use the form on this page to submit a support ticket, or browse our FAQ for help with common issues."
lastmod: 2019-04-22
priority: 0.5
---
<% content_for :js_file do %>
    <%= javascript_include_tag "parsley.js" %>
<% end %> 
<% content_for :js do %>
<script type="text/javascript">
function submitdata() {
    var name = document.getElementById("name").value;
    var subject = document.getElementById("reason").value;
    var email = document.getElementById("email").value;
    var body = document.getElementById("detailed").value;
    var username = 'accounts@paperdate.io/token';
    var password = 'vam8cFJ6TDhcwzwCQZvuXsdFWQgjSPvYCwdMTGz1';
    var adata = {
        "ticket": {
            "subject": subject,
            "requester": {
                "name": name,
                "email": email
            },
            "comment": {
                "body": body
            }
        }
    };

    $.ajax({
        type: 'post',
        url: 'https://paperdate.zendesk.com/api/v2/tickets.json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
        },
        data: JSON.stringify(adata),
        success: function (){
            console.log('Request sent!');
        }
    });
    return false;
}

$(function () {
    // bind parsley to the form
    $("#support-Form").parsley();
    // parsley settings 
    parsleyForm = $('#support-Form').parsley({
        errorClass: 'ba b--light-red',
        successClass: 'ba b--black-60',
        errorsWrapper: '<div class="red"></div>',
        errorTemplate: '<span></span>',
    });  

    // on form submit
    $("#support-Form").on('submit', function(event) {
        // validate form with parsley.
        event.preventDefault();
        $(this).parsley().validate();

        // if this form is valid
        if ($(this).parsley().isValid()) {
            // show alert message
            $('.form-thank-you').css({'height': $('#support-Form').innerHeight()});
            $('.form-thank-you').addClass("absolute top-0 w-100 bg-white-70 flex items-center justify-center fw9 f1");
            $('.form-thank-you span').text( 'Thank You');
            $('.form-thank-you span').css('transform','scaleY(1)');
            
            submitdata();
        }
    });
});    
</script>
<%#  %>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What is a Sugar Meet&Greet?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Getting you on a Sugar Meet&Greet is our goal, and PaperDate makes finding your next Sugar Meet&Greet absolutely painless. But what is a Sugar Meet&Greet and why did we work so hard to make it easy to find one?"
    }
  },
  <% data.support.support_questions.each do |f| %>
  {
    "@type": "Question",
    "name": "<%= f.question %>",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "<%= f.answer %>"
    }
  },
  <% end %>  
    {
    "@type": "Question",
    "name": "Where can I join PaperDate?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Start by going to our join pages and finishing the steps."
    }
  }
  ]
  }
</script>
<% end %> 
<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/banner/phone-and-cord.jpg", 
    :header => "Support", 
    :subHeader => "Have a problems?  We are here to help you 24 hours a day, 7 days a week." 
}) %>

<section class="wrap">
    <div class="flex justify-center flex-wrap items-center pv4" id="support-form">
        <h3 class="f3 mb3 w-100 tc">
            Use this form below if you still have questions
        </h3>
        <%#  %>
        <div class="w-100 w-100-m w-50-ns pr0 pr4-ns tc order-2 order-last-ns">
            <img class="" src="/images/temp/4.png" alt="PaperDate" title="We are here to help you 24 hours a day, 7 days a week."/>
        </div>
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-100-m w-50-ns pv4 ph2">
             <div>
                <form method="post" enctype="text/plain" id="support-Form" class="relative">
                    <%#  %>
                    <div class="mb3">
                        <label for="name" class="f4 b db mb1 fw5">
                            Name
                        </label>
                        <input id="name" placeholder="Jane Smith" class="input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus" type="text" aria-describedby="name-desc" data-parsley-errors-container="#form-name" required>
                        <small id="name-desc" class="f6 black-30 mb2 flex justify-between">
                            Please give your full name
                            <div id="form-name" class=""></div>
                        </small>
                    </div>
                    <%#  %>
                    <div class="mb3">
                        <label for="email" class="f4 b db mb1 fw5">
                            Email Address
                        </label>
                        <input id="email" name="email" placeholder="jane-smith@gmail.com" class="input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus" type="email" aria-describedby="email-desc" data-parsley-errors-container="#form-email" required>
                        <small id="email-desc" name="email-desc" class="f6 black-30 mb2 flex justify-between">
                            This is so we can contact you
                            <div id="form-email" class=""></div>
                        </small>
                    </div>
                    <%#  %>
                    <div class="mb3">
                        <label for="reason" class="f4 b db mb1 fw5">
                            Reason for contacting us?
                        </label>
                        <select id="reason" name="reason" aria-describedby="reason-desc"  data-parsley-errors-container="#form-reason" required class="select-css input-reset ba b--black-20 pa2 mb1 db w-100 outline-0 outline-focus bg-white">
                            <option selected disabled hidden >Pick One</option>
                            <option value="Media">Media</option>
                            <option value="Affiliate">Affiliate</option>
                            <option value="Technical Problem">Technical Problem</option>
                            <option value="Billing">Billing</option>
                            <option value="Member">Member</option>
                        </select>
                        <small id="reason-desc" name="reason-desc" class="f6 black-30 mb2 flex justify-between">
                            Be as direct as possible. 
                            <div id="form-reason" class=""></div>
                        </small>
                    </div>
                    <%#  %>
                    <div class="mb3">
                        <label for="detailed" class="f4 b db mb1 fw5">
                            Any additional information you think we should know. 
                        </label>
                        <textarea id="detailed" name="detailed" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2 outline-0 outline-focus" aria-describedby="detailed-desc"  data-parsley-errors-container="#form-detailed" required></textarea>
                        <small id="detailed-desc" class="f6 black-30 mb2 flex justify-between">
                            Be as detailed as possible. 
                            <div id="form-detailed" class=""></div>
                        </small>
                    </div>
                    <%#  %>
                    <%#  %>
                    <input id="user_id" placeholder="345355" class="dn" type="text" aria-describedby="name-user_id" data-parsley-errors-container="#form-user_id">
                    <%#  %>
                    <div class="mb3 tr">
                         <button class="btn btn-s pv2 ph4 nowrap">
                            Submit 
                        </button>
                    </div>
                    <%#  %>
                    <div class="form-thank-you">
                        <span style="transition: transform .333s;  transform: scale(0);"></span>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>
<%#  %>
<%#  %>
<section class="wrap">
    <div class="flex justify-center flex-wrap items-center pv4">
        <h3 class="f3 mb3 w-100 tc">
            Below you will find some of the questions we get asked the most.
        </h3>
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-100-m w-50-ns pv4 ph2">
             <div>
                <% data.support.support_questions.each do |f| %>
                    <details class="mb3 ph3 pv2">
                        <summary class="outline-0 pointer fw3 f4"><%= f.question %></summary>
                        <div class="pl4 pt2 lh-copy">
                            <%= f.answer %>
                        </div>
                    </details>
                <% end %>                 
             </div>
        </div>
        <%#  %>
        <div class="w-100 w-100-m w-50-ns pr4 tc">
            <img class="" src="/images/temp/5.png" title="questions we get asked the most" alt="questions we get asked the most"/>
        </div>        
    </div>
</section>
<%= partial "partials/banner/banner01" %>