---
title: Terms of Service
lastmod: 2019-04-22
priority: 0.1
site_description: Terms of Service
---
<div class="wrap fw5 lh-copy">
    <h1 class="lg-text">
        PaperDate Terms of service
    </h1>
    <p>
        By using PaperDate.io (the "Website") you agree to be bound by these Terms of Use (this "Agreement"), whether or not you choose to be a Member. If you wish to become a Member and communicate with other Members and make use of the PaperDate.io dating site (the "Service"), read these Terms of Use and indicate your acceptance of them by submitting the registration form This Agreement sets out the legally binding terms of your use of the Website and your membership in the Service and may be modified by PaperDate.io from time to time, such modifications to be effective upon posting by PaperDate.io on the Website. This Agreement includes PaperDate.io's Acceptable Use Policy for Content Posted on the Website, PaperDate.io's Privacy Policy, and any notices regarding the Website. You may also receive a copy of this Agreement by emailing us at: legal(at)PaperDate.io, Subject: Terms of Use Agreement
    </p>
    <p>
        Eligibility. You must be eighteen or over to register as a member of PaperDate.io or use the Website. Membership in the Service is void where prohibited. By using the Website, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.
    </p>
    <p>
        Term. This Agreement will remain in full force and effect while you use the Website and/or are a Member. You may terminate your membership at any time, for any reason by following the instructions on the Disable page in the Account Settings, or upon receipt by PaperDate.io of your written or email notice of termination. PaperDate.io may terminate your membership for any reason, effective upon sending notice to you at the email address you provide in your application for membership, or such other email address as you may later provide to PaperDate.io. Even after membership is terminated, this Agreement will remain in effect.
    </p>
    <p>
        Non Commercial Use by Members. The Website is for the personal use of individual Members only and may not be used in connection with any commercial endeavors. Organizations, companies, and/or businesses may not become Members and should not use the Service or the Website for any purpose. Illegal and/or unauthorized uses of the Website, including collecting usernames and/or email addresses of members by electronic or other means for the purpose of sending unsolicited email and unauthorized framing of or linking to the Website will be investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress.
    </p>
    <p>
        Proprietary Rights in Content on PaperDate.io. PaperDate.io owns and retains all proprietary rights in the Website and the Service. The Website contains the copyrighted material, trademarks, and other proprietary information of PaperDate.io, and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.
    </p>
    <p>
        Content Posted on the Site. Without waiver of any of the immunities provided to us as an interactive services provider under the CDA please take note that we prohibit anyone from promoting illegal activities (such as prostitution) or commercial activities of any kind in their profile or in messages sent on the site and if such conduct comes to our attention we reserve the right to, amongst other things, remove you from the site and ban you permanently. Furthermore you agree that:
    </p>
    <p>
        You understand and agree that PaperDate.io may review and delete any content, messages, photos or profiles (collectively, "Content") that in the sole judgment of PaperDate.io violate this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Members.
    </p>
    <p>
        You are solely responsible for the Content that you publish or display (hereinafter, "post") on the Service, or transmit to other Members.
    </p>
    <p>
        By posting Content to any public area of PaperDate.io, you automatically grant, and you represent and warrant that you have the right to grant, to PaperDate.io an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the foregoing.
    </p>
    <p>
        The following is a partial list of the kind of Content that is illegal or prohibited on the Website. PaperDate.io reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending communication from the Service and terminating the membership of such violators. It includes Content that: is patently offensive to the online community, such as Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individually harasses or advocates harassment of another person, involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spam" promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libel promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links to pirated music or contains restricted or password only access pages, or hidden pages or images (those not linked to or from another accessible page provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under 18 and contains nude images and provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses that solicits passwords or personal identifying information for commercial or unlawful purposes from other users engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes.
    </p>
    <p>
        You must use the Service in a manner consistent with any and all applicable laws and regulations.
    </p>
    <p>
        You may not include in your Member profile any telephone numbers, street addresses, last names, URLs or email addresses.
    </p>
    <p>
        You may not engage in advertising to, or solicitation of, other Members to buy or sell any products or services through the Service. You may not transmit any chain letters or junk email to other Members. Although PaperDate.io cannot monitor the conduct of its Members off the Website, it is also a violation of these rules to use any information obtained from the Service in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to any Member without their prior explicit consent. In order to protect our Members from such advertising or solicitation, PaperDate.io reserves the right to restrict the number of emails which a Member may send to other Members in any 24-hour period to a number which PaperDate.io deems appropriate in its sole discretion.
    </p>
    <p>
        Copyright Policy. You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. Without limiting the foregoing, if you believe that your work has been copied and posted on the Service in a way that constitutes copyright infringement, please provide our Copyright Agent with the following information: an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; a description of the copyrighted work that you claim has been infringed; a description of where the material that you claim is infringing is located on the Website; your address, telephone number, and email address; a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
    </p>
    <p>
        Subscription. For your convenience, paid subscriptions for PaperDate.io recur automatically, until cancelled. PaperDate.io reserves the right to offer free membership to any person(s) of their choice at any given time, for any duration, while charging other members, at the same time. PaperDate.io also reserves the right to cancel the FREE membership at any time, for all or any of its members. PaperDate.io is free to join (register) and free to create a profile. It is also free to Search or Browse thru profiles and photos of other members. It is also free to send a predetermined amount of emails. The pricing of the various memberships is shown on the payment page. The pricing may change from time to time, but you will always be billed at the pricing at the time you entered your payment information. In order to cancel any membership, go to the Account Setting and Disable your account. Secondarily, you may fill out the contact form with the appropriate subject and type your message.
    </p>
    <p>
        Member Disputes. You are solely responsible for your interactions with other PaperDate.io Members. PaperDate.io, Inc. reserves the right, but has no obligation, to monitor disputes between you and other Members.
    </p>
    <p>
        Disclaimer and Limitation of Liability Regarding Interactions Between Members. You are solely responsible for your interactions with other Members. You understand that PaperDate.io does not in any way monitor the activity of its Members either offline or online. Nor does PaperDate.io screen or interview its Members, nor does PaperDate.io inquire into the backgrounds of its Members or attempt to verify the accuracy or statements made by Members. PaperDate.io makes no representations or warranties as to the conduct of Members or those acting on their behalf. You agree to take reasonable precautions in all communications, meetings or interactions with other Members of the Service, particularly if you decide to meet offline or in person. You should not divulge personal or financial information to strangers. In the event that you have a dispute with one or more members or those who have posted, viewed and/or used information on the PaperDate.io site, you release PaperDate.io , including its officers, directors, agents, and employees, from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes. In no event shall PaperDate.io be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, punitive, consequential, and/or incidental, arising out of or relating to your conduct or anyone else's conduct in connection with the use of the Service, including without limitation, bodily injury, emotional distress, loss of reputation and/or any other damages resulting from communications or meetings with other Members or persons you meet through this Service.
    </p>
    <p>
        Service - PaperDate.io does not guarantee, at any time, either their paid or free membership holders, that the website will be fully operational all the time. Members may face significant service disturbances. Only in the event that www.PaperDate.io is offline for a period of more than 72 hours, will a pro-rated refund be given. PaperDate.io DOES NOT OFFER TECHNICAL SUPPORT. We will offer support only for services/features related to the website.
    </p>
    <p>
        Membership Cancellation Policy. To cancel your membership contact CCBill at 888.596.9279 or at consumersupport@ccbill.com.
    </p>
    <p>
        Disclaimers. PaperDate.io is not responsible for any incorrect or inaccurate content posted on the Website or in connection with the Service, whether caused by users of the Website, Members or by any of the equipment or programming associated with or utilized in the Service. PaperDate.io is not responsible for the conduct, whether online or offline, of any user of the Website or Member of the Service. PaperDate.io assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user or Member communications. PaperDate.io is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any Website or combination thereof, including injury or damage to users and/or Members or to any other person's computer related to or resulting from participating or downloading materials in connection with the Web and/or in connection with the Service. Under no circumstances will PaperDate.io be responsible for any loss or damage, including personal injury or death, resulting from anyone's use of the Website or the Service, any Content posted on the Website or transmitted to Members, or any interactions between users of the Website, whether online or offline. The Website and the Service are provided "AS-IS" and PaperDate.io expressly disclaims any warranty of fitness for a particular purpose or non-infringement. PaperDate.io cannot guarantee and does not promise any specific results from use of the Website and/or the Service.
    </p>
    <p>
        Limitation on Liability. Except in jurisdictions where such provisions are restricted, in no event will PaperDate.io be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including also lost profits arising from your use of the Web site or the Service, even if PaperDate.io has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, PaperDate.io's liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to PaperDate.io for the Service during the term of membership. If you are a California resident, you waive any rights you may have under California Civil Code 1542, which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor."
    </p>
    <p>
        Indemnity. You agree to indemnify and hold PaperDate.io, its subsidiaries, affiliates, officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the Service in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach of your representations and warranties set forth above.
    </p>
    <p>
        Other. This Agreement, accepted upon use of the Website and further affirmed by becoming a Member of the Service, contains the entire agreement between you and PaperDate.io regarding the use of the Website and/or the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.
    </p>
    <p>
        PaperDate.io prohibits its members from offering money in exchange for sex. Any communications on the site related to the exchange of sex for money may result in cancellation of membership and banning from the site. Again, no communication regarding the exchange of sex for money is permitted on this site. All members are required to keep their communications on this site in the nature of seeking romantic relationships where one member may wish to help the other one financially within the context of a relationship because they care for and appreciate the other person and want to help them. Like any romantic relationship including marriage, sex may be a part of a relationship as well. However, we do not allow the solicitation of, seeking of, or any communications that are simply about sex in exchange for money and any such violations when detected will result in cancellation of membership and banning from the site.
    </p>
    <h3 class="lg-text">
        REFUND POLICY
    </h3>
    <p>
        PaperDate maintains a strict No-Refund policy.  All purchases made on the website are final.  If you choose to purchase a package on the website, you agree that absolutely NO Refunds, either full or partial, will be issued for any reason or any unused or remaining subscription or credits.  All sales are FINAL.
    </p>   
    <p>
        I HAVE READ THIS AGREEMENT AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE.
    </p>
    <h3 class="lg-text">
        This site is protected by reCAPTCHA and the Google 
</h3>
<p>
    By using our site you also are agreeing to reCAPTCHA Privacy Policy and Terms of Service. 
</p>
 
    <p>
            <a href="https://policies.google.com/privacy" class="c-cerise" target="_blank">Privacy Policy</a> and
            <a href="https://policies.google.com/terms" class="c-cerise" target="_blank">Terms of Service</a>
    </p>
 
</div>