---
title: Test - PaperDate
site_description: this is a custom description
site_keywords: site_keywords
img: https://dummyimage.com/600x400/000/fff
author: Mike 
sitemap: false
---
<div class="wrap" style="min-height: 75vh;">
    <h1 class="tc bb">
        TEST PAGE 
    </h1>
    <%= data.links.page_about %>
    <br>
    <%= current_link_to "About Us", data.links.page_about, class: "mh2", title: "About Us", aria_current: "current" %>

 
    
</div>